extends layout

block content
    if(!user)
        h1(class="title")= title
        h4(class="subtitle") An initiative by MS Ramaiah Memorial Hospital
        <br>
        .card
            .container1
                h5(class="homestuff") Employee Exit form automation is an initiative by the MS Ramaiah Memorial Hospital - HR Department to better understand why an employee has chosen to leave this institution. This is to analyse the main reasons and to take appropriate, timely corrective measures so that attrition is reduced
        script.
            function clickfunction(){
                alert("jhfbwej");
                $.ajax({
                    url: '/excel',
                    type: 'GET',
                    data: {res1:"gfchgcvjh",res2:"fbefwke"},
                    success: function(data){
                        alert("HERE");
                    }
                });
            }
    else if(user)
        h1(class="title") Employee Exit Forms -- ADMIN PANEL
        <br>
        .card
            .container2
                table(class="options",cellspacing="0",cellpadding="0")
                    thead
                        tr
                            td
                                h5 Access EMPLOYEE FORM Database
                            td
                                button
                                    a(target="_blank",onclick="location.replace('/empexit')") Employee Exit Database
                        tr
                            td
                                h5 Download all employee exit forms as Excel File
                            td
                                button
                                    a(target="_blank",onclick="location.replace('/excel')") Download Excel
                        tr
                            td
                                h5 Get Analytics of Employee Exit Reasons
                            td
                                button
                                    a(target="_blank",onclick="location.replace('/charts')") Analytics

